.shopping-cart {
  margin: 50px 50px;
  margin-bottom: 200px;
}

.buttons-cart {
  display: flex;
  justify-content: flex-end;

  & > button {
    margin-left: 10px;
  }
}

.plus {
  font-weight: bold;
}

.minus {
  font-weight: bold;
}

.check {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-btn {
    margin-left: 50px;
  }
  &-total {
    font-size: 18px;
    font-weight: bold;
  }
}
