.shopping-cart {
  margin: 50px 50px;
  position: relative;
  margin-bottom: 200px;
}
.check-btn {
  margin-bottom: 100px;
  position: absolute;
  right: 25px;
  top: 380px;
}

.buttons-cart {
  display: flex;
  justify-content: flex-end;

  & > button {
    margin-left: 10px;
  }
}

.plus {
  font-weight: bold;
}

.minus {
  font-weight: bold;
}
